#distance {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
#title {
    font: oblique bold 120% cursive;
    padding-left: 40px;
    padding-top: 30px;
}
#subtitle {
    font: oblique bold 90% cursive;
}
#text {
    font: oblique 90% cursive;
}
#img {
    width: 180px; height: 100px;
}
#form {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    font: oblique 90% cursive
}
#btn-filtrar {
    padding-top: 22px;
}
#main_card{
    margin-top: 45px;
}

#filter{
    margin-top: 20px;
    font: oblique bold 90% cursive;
}
#btnFiltrar{
    // height: 30px;
    width: 90px;
}
#pdimg {
    padding-top: 20px;
}
#btn-style {
    margin-left: 15px;
    width: 90px;
    font: oblique 115% cursive;
}