<div class="container">
    <div class="row text-center">
        <div class="col" id="login">
            <img src="assets/img/logo-sena2.png" id= "img" alt="">
        </div>
    </div>
    <div class="row text-center">
        <div class="col" id="login">
            <label for="">Email/Username</label>
        </div>
    </div>
    <div class="row text-center">
        <div class="col" id="login">
            <input type="email">
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <label for="">Password</label>
        </div>
    </div> 
    <div class="row text-center">
        <div class="col" id="login">
            <input type="password">
        </div>
    </div> 
    <div class="row text-center">
        <div class="col" id="login">
            <a href="formulario"> ¿No se ha registrado? </a>
        </div>
    </div> 
    <div class="row text-center">
        <div class="col" id="login">
            <button type="button" class="btn btn-sena btn-lg active" (click)="btnGoFormularioSolicitud()"> Aceptar </button>
        </div>
    </div> 
    <div class="row text-center">
        <div class="col" id="title">
            <strong for=""> SISTEMA DE PRODUCCION MODULAR FESTO</strong>
        </div>
    </div> 
    <div class="row text-center">
        <div class="col" id="sign" >
            <p for=""> William Gutiérrez Marroquín &copy; </p>
        </div>
    </div> 
</div>