#btn-style {
    margin-left: 15px;
}
#titles {
    font: oblique bold 120% cursive;
    color: white;
}
#text {
    font: oblique 120% cursive
}
#form {
    margin-top: 45px;
    font: oblique 120% cursive
}
// #content {
//     // background-color: lightgray;
// }
#header {
    background-color: lightsteelblue;
}
#btn-controls {
    padding-top: 35px;
}
.danger-color {
    font-size: 12px;
    color:red;
}