<div class="main-content-header" id="content-header">
    <h3> Solicitud de creación de producto </h3><br>
</div>
<form [formGroup]="form">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-center" id="main_card">
            <div class="card mb-30 " style="width: 860px;">
                <div class="card-body">
                    <div class="card-header">
                        <h5> Creación de la ordén </h5>
                    </div>
                    <div class="row">
                        <div class="col-md-12" id="style-col1">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="inputState">Producto *</label>
                                    <select formControlName="idPerfil"
                                        type="text" id="validationCustom02"
                                        formControlName="nombreProducto"
                                        id="inputState"
                                        class="form-control form-control-sm" required>
                                        <option selected value=''>Selecciona</option>
                                        <option *ngFor="let name of nombreProducto">
                                            {{ name }}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label for="inputState">Tipo de presentación (ml) *</label>
                                    <select formControlName="idPerfil"
                                        type="text" id="validationCustom02"
                                        formControlName="tipoPresentacion"
                                        id="inputState"
                                        class="form-control form-control-sm" required>
                                        <option selected value=''>Selecciona</option>
                                        <option *ngFor="let tipo of tipoPresentacion">
                                            {{ tipo }}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label id="without-upper-and-lower">Cantidad *</label>
                                    <input type="text"
                                    class="form-control form-control-sm"
                                    formControlName="cantidad"
                                    placeholder="Escribe aquí">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" style="text-align: right;">
                                    <button type="button" class="btn btn-primary idcPrimaryBtn" id="btn-style" (click)="agregarProductosAOrden()"> Agregar </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex align-items-center justify-content-center" id="main_card">
            <div class="card mb-30 " style="width: 860px;">
                <div class="card-body">
                    <div class="card-header">
                        <h5> Resumen de la ordén </h5>
                    </div>
                    <table class="table m-0">
                        <thead class="bort-none borpt-0">
                            <tr>
                                <th>Producto</th>
                                <th>Presentación</th>
                                <th>Cantidad</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let producto of orden" class="border-none">
                            <tr>
                                <td>{{producto.nombre}}</td>
                                <td>{{producto.presentacion}}</td>
                                <td>{{producto.cantidad}}</td>
                                <td>
                                    <button type="button" class="btn btn-danger">
                                        Eliminar
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-12 col-md-offset-2" style="text-align: right;" id="style-btn">
                        <button type="submit" class="btn btn-outline-warning idcCancelBtn" id="style-btn" (click)="cancelarOrden()">Cancelar</button>
                        <button type="submit" class="btn btn-primary idcPrimaryBtn" id="style-btn" (click)="enviarOrden()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

